form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

textarea, input {
    padding: 5px 20px;
    width: 100%;
    margin: 10px 0;
}


textarea {
    line-height: 100px;
}

