<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" id="elsa" onsubmit="return Client.elsaSubmit(event)">
                <textarea id="elsa-phrase"
                    form="elsa">The Sistine Chapel is beautiful, but Venice smells really bad</textarea>
                <input type="submit" value="Entity Level Sentiment Analysis">
            </form>
        </section>

        <section id="elsa-result">
            <strong>Elsa Results:</strong>
            <div id="results">
                <table class="table" id="elsa-table">
                    <thead>
                        <tr>
                            <th scope="col">entity_name</th>
                            <th scope="col">polarity</th>
                            <th scope="col">confidence</th>
                            <th scope="col">type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>

        <section>
            <form id="sentiment" onsubmit="return Client.sentimentSubmit(event)">
                <input id="sentiment-url" type="text" name="input" value="https://stackoverflow.com/questions/46946380/fetch-api-request-timeout">
                <input type="submit" value="Sentiment Analysis">
            </form>
        </section>

        <section id="sentiment-result">
            <strong>Sentiment Results:</strong>
            <div id="results">
                <table class="table" id="sentiment-table">
                    <thead>
                        <tr>
                            <th scope="col">polarity</th>
                            <th scope="col">subjectivity</th>
                            <th scope="col">text</th>
                            <th scope="col">polarity_confidence</th>
                            <th scope="col">subjectivity_confidence</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>